/* Estilizando o footer */
footer {
  background-color: whitesmoke;
  color: black;
  padding: 20px; /* Aumentando o padding para melhorar o espaçamento */
  display: flex;
  justify-content: center;
  align-items: center; /* Centralizando o conteúdo verticalmente */
  font-size: 14px; /* Aumentando o tamanho da fonte */
  flex-wrap: wrap; /* Permitindo que os itens quebrem linha em telas menores */
}

/* Estilizando o conteúdo do footer */
.footer-content {
  text-align: center;
  flex: 1; /* Permitindo que o conteúdo ocupe o máximo de espaço disponível */
}

/* Estilizando a lista de contato */
.contact-list {
  list-style: none;
  padding: 0;
  margin: 10px 0; /* Adicionando margem para espaçamento vertical */
  display: flex; /* Usando flexbox para layout dos itens */
  justify-content: center; /* Centralizando os itens */
  flex-wrap: wrap; /* Permitindo que os itens quebrem linha em telas menores */
}

/* Estilizando os itens da lista de contato */
.contact-list li {
  margin: 5px 10px; /* Ajustando o espaçamento entre os itens */
}

/* Estilizando links de contato */
.contact-list a {
  text-decoration: none;
  color: #000; /* Alterando a cor do texto para preto */
  transition: 0.5s;
  font-size: 14px; /* Aumentando o tamanho da fonte */
}

/* Estilizando links de contato ao passar o mouse */
.contact-list a:hover {
  color: #dff6ff;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
  footer {
    flex-direction: column; /* Mudando para layout em coluna em telas menores */
    padding: 15px; /* Reduzindo o padding */
    font-size: 12px; /* Reduzindo o tamanho da fonte */
  }
  .footer-content {
    margin-bottom: 10px; /* Adicionando margem inferior para espaçamento */
  }
  .contact-list {
    flex-direction: column; /* Mudando para layout em coluna para itens da lista */
    align-items: center; /* Centralizando os itens */
  }
  .contact-list li {
    margin: 5px 0; /* Ajustando o espaçamento entre os itens */
  }
}

@media (max-width: 480px) {
  footer {
    padding: 10px; /* Reduzindo o padding */
    font-size: 10px; /* Reduzindo o tamanho da fonte */
  }
  .contact-list a {
    font-size: 12px; /* Reduzindo o tamanho da fonte */
  }
}
