.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.botao {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
}

#btn-cancelar {
    background-color: #c82333;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .acoes {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .botao {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .acoes {
        margin-top: 15px;
    }

    .botao {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}
