.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.botao {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
}

#btn-cancelar {
    background-color: #c82333;
}