<body class="body">
    <div class="wrapper">
        <form action="">
            <h1>Cadastro de Médico</h1>
            <div class="input-box">
                <input type="text" placeholder="Nome" required>
            </div>
            <div class="input-box">
                <input type="email" placeholder="E-mail" required>
            </div>
            <div class="input-box">
                <input type="tel" placeholder="Telefone" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="CRM" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Endereço" required>
            </div>
            <div class="input-box">
                <select name="especialidade" id="especialidade" required>
                    <option value="" disabled selected>Especialidade</option>
                    <option value="Ortopedia">Ortopedia</option>
                    <option value="Cardiologia">Cardiologia</option>
                    <option value="Ginecologia">Ginecologia</option>
                    <option value="Dermatologia">Dermatologia</option>
                    <option value="Psiquiatria">Psiquiatria</option>
                </select>
                
            </div>

            <button type="submit" class="btn">Cadastrar</button>
        
        </form>
    </div>
</body>