<section class="container criar-pensmamentos">
    <header class="header">
        <h2>Agende uma consulta nova:</h2>
    </header>

    <form [formGroup]="formulario">
        <label for="especialidade">Especialidade</label>
        <input type="textarea" 
        class="input" 
        id="especialidade"
        formControlName="especialidade"
        placeholder="Especialidade do médico"
        >
        <div class="mensagem__erro" *ngIf="formulario.get('especialidade')?.errors?.['required'] && formulario.get('especialidade')?.touched">
           A especialidadeé obrigatória.
        </div>

        <label for="doutor">Doutor (a)</label>
        <input type="text" 
        class="input" 
        id="doutor"
        formControlName="doutor"
        placeholder="Doutor (a)"
        >
        <div class="mensagem__erro" *ngIf="formulario.get('doutor')?.errors?.['required'] && formulario.get('doutor')?.touched">
            O nome do doutor é obrigatório.
        </div>

        <label for="data_consulta">Data da consulta</label>
        <input type="date" 
        class="input" 
        id="data_consulta"
        formControlName="data"
        >

        <label for="horario">Horário da consulta</label>
        <input type="time" 
        class="input"
        id="horario"
        formControlName="horario"
        >

    </form>

    <div class="acoes">
        <button (click)="agendarConsulta()" class="botao">Agendar</button>
        <button class="botao" routerLink="/patienthome">Cancelar</button>
    </div>

</section>
