<body>
    <div class="container">

        <div class="form-image">
            <img src="assets/img/medpro3.svg" alt="">
        </div>

        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                        <button><a routerLink="/login">Entrar</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="nome">Nome</label>
                        <input id="nome" 
                        type="text" 
                        name="nome" 
                        placeholder="Digite seu nome" 
                        [(ngModel)]="registerObj.nome">
                    </div>

                    <div class="input-box">
                        <label for="senha">Senha</label>
                        <input id="senha" 
                        type="password" 
                        name="senha" 
                        placeholder="Digite sua senha" 
                        [(ngModel)]="registerObj.senha">
                    </div>

                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" 
                        type="email" name="email" 
                        placeholder="Digite seu e-mail" 
                        [(ngModel)]="registerObj.email">
                    </div>

                    <div class="input-box">
                        <label for="telefone">Telefone</label>
                        <input id="telefone" 
                        type="tel" 
                        name="telefone" 
                        placeholder="(XX) XXXX-XXXX" 
                        [(ngModel)]="registerObj.telefone">
                    </div>

                    <div class="input-box">
                        <label for="crm">CRM (Apenas Números)</label>
                        <input id="crm" 
                        type="number" 
                        name="crm" 
                        placeholder="Digite seu CRM" 
                        [(ngModel)]="registerObj.crm">
                    </div>

                    <div class="input-box">
                        <label for="endereco">Endereço Completo</label>
                        <input id="endereco" 
                        type="text" 
                        name="endereco" 
                        placeholder="Digite seu endereço" 
                        [(ngModel)]="registerObj.endereco">
                    </div>

                    <div class="input-box">
                        <label for="especialidade">Especialidade</label>
                        <select id="especialidade" 
                        name="especialidade" 
                        [(ngModel)]="registerObj.especialidade">
                            <option value="ORTOPEDIA">ORTOPEDIA</option>
                            <option value="CARDIOLOGIA">CARDIOLOGIA</option>
                            <option value="GINECOLOGIA">GINECOLOGIA</option>
                            <option value="DERMATOLOGIA">DERMATOLOGIA</option>
                            <option value="PSIQUIATRIA">PSIQUIATRIA</option>
                        </select>
                    </div>
                </div>                

                <div class="continue-button">
                    <button id="register-btn" (click)="onRegister()">Entrar</button>
                </div>
            </form>
        </div>

    </div>
</body>