<div class="main-section">
    <div class="text-section">
        <h1>Sobre Nós</h1>
        <p>A MedPro é reconhecida como um plano de saúde líder, dedicado a fornecer cuidados de saúde excepcionais e abrangentes para nossos clientes. Nós nos destacamos no mercado como uma escolha confiável para indivíduos e famílias que buscam qualidade, acessibilidade e atendimento personalizado.<br><br></p>
        <p>Com uma equipe de profissionais altamente qualificados e uma infraestrutura de ponta, estamos comprometidos em oferecer um serviço que não só atenda, mas supere as expectativas de nossos clientes. Nossa missão é promover uma vida mais saudável e feliz para todos os que confiam em nossa expertise.</p>
        <div class="button-section">
            <a href="#">Agende uma Consulta</a>
        </div>
    </div>
</div>