<div class="consulta">
    <p class="especialidade">{{consulta.especialidade}}</p>
    <p class="doutor">Doutor (a): {{consulta.doutor}}</p>
    <p class="data">Data da consulta: {{consulta.data}}</p>
    <p class="horario">Horário da consulta: {{consulta.horario}}</p>
    <div class="acoes">
        <button class="botao-excluir" routerLink="/queries/excluirConsulta/{{consulta.id}}" >Excluir</button>
        <button class="botao-editar" routerLink="/queries/editarConsulta/{{consulta.id}}" >Editar</button>
    </div>
</div>
 