.consulta {
    background-color: #f8f9fa;
    padding: 10px; /* Reduzi o padding para diminuir o espaço interno */
    border-radius: 10px; /* Mantive o raio da borda para um visual suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Mantive a sombra para destacar o card */
    margin-bottom: 10px; /* Reduzi o espaço entre os cards */
    display: inline-block;
    box-sizing: border-box;
    min-width: 200px; /* Mantive a largura mínima para melhor legibilidade */
    max-width: 100%;
    margin-right: 10px; /* Reduzi a margem à direita para espaçamento uniforme */
}

.consulta .especialidade {
    margin: 5px 0; /* Reduzi o espaçamento da especialidade */
    font-size: 1.2em; /* Mantive o tamanho da fonte da especialidade */
    font-weight: bold; /* Mantive o negrito para destacar a especialidade */
}

.consulta .doutor,
.consulta .data,
.consulta .horario {
    margin: 3px 0; /* Reduzi o espaçamento das outras informações */
}

.consulta .acoes {
    text-align: right;
    margin-top: 5px; /* Reduzi o espaço entre o conteúdo e os botões */
}

.consulta .botao-excluir {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 6px 10px; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.consulta .botao-excluir:hover {
    background-color: #c82333;
}
