main.container {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
  overflow-x: auto; /* Adicione isto para permitir rolagem horizontal se o conteúdo ultrapassar a largura */
    
  }

