<div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="profile-image-section">
                <img [src]="userImage" alt="Profile Image" class="profile-image">
                <div class="image-upload-section">
                  <h4>{{userDetails?.nome}}</h4>
                  <input type="file" (change)="onFileSelected($event)" id="escolher-arquivo">
                  <button (click)="uploadUserImage()">Upload Imagem</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="button-section">
                <button (click)="toggleEdit()" id="btn-edit">Editar Perfil</button>
                <button *ngIf="editing" (click)="updateUserProfile()" id="btn-confirm">Confirmar Edições</button>
                <button class="btn" id="delete-btn" (click)="deleteUserProfile()">Excluir</button>
              </div>
              <div *ngIf="userType === 'paciente'">
                <div class="row">
                  <div class="col-label">Nome</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.nome }}</span>
                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.nome">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">Email</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.email }}</span>
                    <input *ngIf="editing" type="email" [(ngModel)]="updatedUserDetails.email">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">Telefone</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.telefone }}</span>
                    <input *ngIf="editing" type="tel" [(ngModel)]="updatedUserDetails.telefone">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">CPF</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.cpf }}</span>
                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.cpf">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">Endereço</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.endereco }}</span>
                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.endereco">
                  </div>
                </div>
                <hr>
              </div>
              <div *ngIf="userType === 'medico'">
                <div class="row">
                  <div class="col-label">Nome</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.nome }}</span>
                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.nome">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">Especialidade</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.especialidade }}</span>
                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.especialidade">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">Email</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.email }}</span>
                    <input *ngIf="editing" type="email" [(ngModel)]="updatedUserDetails.email">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">Telefone</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.telefone }}</span>
                    <input *ngIf="editing" type="tel" [(ngModel)]="updatedUserDetails.telefone">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">CRM</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.crm }}</span>
                    <input *ngIf="editing" type="number" [(ngModel)]="updatedUserDetails.crm">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-label">Endereço</div>
                  <div class="col-value">
                    <span *ngIf="!editing">{{ userDetails?.endereco }}</span>
                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.endereco">
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  