
<div class="container">
    <div class="main-body">
    
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{userDetails?.nome}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <button (click)="toggleEdit()" id="btn-edit">Editar Perfil</button>
                                <button *ngIf="editing" (click)="updateUserProfile()" id="btn-confirm">Confirmar Edições</button>
                                <a class="btn" id="delete-btn" target="__blank" href="">Excluir</a>
                            </div>
                        </div>
                        <!-- PACIENTE -->
                        <div *ngIf="userType === 'paciente'">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nome</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{ userDetails?.nome }}</span>
                                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.nome">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{ userDetails?.email }}</span>
                                    <input *ngIf="editing" type="email" [(ngModel)]="updatedUserDetails.email">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telefone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{userDetails?.telefone}}</span>
                                    <input *ngIf="editing" type="tel" [(ngModel)]="updatedUserDetails.telefone">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">CPF</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{userDetails?.cpf}}</span>
                                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.cpf">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Endereço</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{userDetails?.endereco}}</span>
                                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.endereco">
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div *ngIf="userType === 'medico'">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nome</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{ userDetails?.nome }}</span>
                                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.nome">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Especialidade</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{ userDetails?.especialidade }}</span>
                                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.especialidade">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{ userDetails?.email }}</span>
                                    <input *ngIf="editing" type="email" [(ngModel)]="updatedUserDetails.email">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telefone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{userDetails?.telefone}}</span>
                                    <input *ngIf="editing" type="tel" [(ngModel)]="updatedUserDetails.telefone">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">CRM</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{ userDetails?.crm }}</span>
                                    <input *ngIf="editing" type="number" [(ngModel)]="updatedUserDetails.crm">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Endereço</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span *ngIf="!editing">{{ userDetails?.endereco }}</span>
                                    <input *ngIf="editing" type="text" [(ngModel)]="updatedUserDetails.endereco">
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

