<header>
    <h1>Bem vindo, (nome)</h1>
</header>

<router-outlet></router-outlet>

<section id="exames">
    <h2>Exames</h2>
    <input type="text" id="searchExames" placeholder="Pesquisar exames...">
    <div id="listaExames">
        <!-- Lista com cards dos exames -->
        <!-- Exemplo de card -->
        <div class="exameCard">
            <h3>Data do Exame: </h3>
            <p>Tipo: </p>
            <p>Laboratório: </p>
        </div>
        <!-- Outros cards de exames aqui -->
    </div>
</section>