/* Estilo para o cabeçalho */
header {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; 
    padding: 10px; 
    margin-bottom: 30px;
}

/* Estilo para o título dentro do cabeçalho */
header h1 {
    margin: 0; 
}


section {
    margin-bottom: 30px; 
    margin-left: 20px;
}

/* Estilo para os títulos das seções */
h2 {
    color: #333; 
}

/* Estilo para os inputs de pesquisa */
input[type="text"] {
    padding: 8px; 
    margin-bottom: 10px; 
}


/* Estilo para os cards de consulta e exame */
.consultaCard,
.exameCard {
    background-color: #f8f9fa; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px; /* Espaçamento abaixo do card */
    display: inline-block; /* Permite que os cards fiquem lado a lado */
    box-sizing: border-box; /* Inclui padding e borda na largura do elemento */
    min-width: 150px; /* Largura mínima para evitar cards muito estreitos */
    max-width: 100%; /* Largura máxima para ajustar dinamicamente ao conteúdo */
    margin-right: 10px; /* Espaçamento à direita dos cards, exceto o último de cada linha */
}




/* Estilo para os botões */
button {
    padding: 8px 16px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Estilo para o botão de agendar consulta */
#agendarConsulta {
    margin-top: 10px; 
}
