<header>
    <h1>Bem vindo, (nome)</h1>
</header>

<section id="consultas">
    <h2>Consultas</h2>
    <input type="text" id="searchConsultas" placeholder="Pesquisar consultas...">
    <div id="listaConsultas">
        <!-- Lista com cards das consultas -->
        <div class="consultaCard">
            <h3>Data da Consulta: </h3>
            <p>Especialidade: </p>
            <p>Médico: </p>
            <p>Horário: </p>
        </div>
        <div class="consultaCard">
            <h3>Data da Consulta: </h3>
            <p>Especialidade: </p>
            <p>Médico: </p>
            <p>Horário: </p>
        </div>
        <div class="consultaCard">
            <h3>Data da Consulta: </h3>
            <p>Especialidade: </p>
            <p>Médico: </p>
            <p>Horário: </p>
        </div>
        <!-- Outros cards de consultas aqui -->
    </div>
    <button id="agendarConsulta" routerLink="/agendarconsulta">Agendar Nova Consulta</button>
</section>

<section id="exames">
    <h2>Exames</h2>
    <input type="text" id="searchExames" placeholder="Pesquisar exames...">
    <div id="listaExames">
        <!-- Lista com cards dos exames -->
        <!-- Exemplo de card -->
        <div class="exameCard">
            <h3>Data do Exame: </h3>
            <p>Tipo: </p>
            <p>Laboratório: </p>
        </div>
        <!-- Outros cards de exames aqui -->
    </div>
</section>