

<main>
    <section class="home">
        <div class="home-text">
            <h4 class="text-h4">Bem vindo à MedPro</h4>
            <h1 class="text-h1">Sua saúde, nossa prioridade.</h1>
            <p>Na MedPro, estamos dedicados a fornecer cuidados de saúde excepcionais e personalizados para você e sua família. <br> Com uma equipe de profissionais altamente qualificados e apaixonados pelo que fazem, estamos comprometidos em ajudá-lo a alcançar e manter um estilo de vida saudável e feliz.</p>
            <a routerLink="/login" class="home-btn">Entrar</a>
            <a routerLink="/register" class="home-btn">Cadastrar</a>
        </div>
        <div class="home-img">
            <img src="assets/img/medico-home.jpg" alt="medico">
        </div>
    </section>
</main>