<div class="main-section">
    <img src="assets/img/medico-home.jpg" alt="Imagem Médico">
    <div class="text-section">
        <p>
            A MedPro é reconhecida como um plano de saúde líder, dedicado a fornecer cuidados de saúde excepcionais e abrangentes para nossos clientes. Nós nos destacamos no mercado como uma escolha confiável para indivíduos e famílias que buscam qualidade, acessibilidade e atendimento personalizado.
            <br>
        </p>
        <div class="button-section">
            <a routerLink="/about">Sobre Nós</a>
            <a routerLink="/login">Entrar</a>
            <a routerLink="/register" class="cadastrar">Cadastrar</a>
        </div>
    </div>
</div>
