<section class="container">
    <h1>Bem-vindo!</h1>
    <header class="header">
        <h2>Suas consultas:</h2>
        <button *ngIf="userType === 'paciente'" class="botao" routerLink="/schedule">Agendar consulta</button>
    </header>
    <div class="consultas" *ngIf="listaConsultas.length > 0; else semConsultas">
        <div *ngFor="let consulta of listaConsultas" class="consulta-card">
            <app-consultation-card [consulta]="consulta" [userType]="userType"></app-consultation-card>
        </div>
    </div>
</section>
<ng-template #semConsultas>
    <div class="sem-consultas">
        <p>Você não possui consultas agendadas.</p>
    </div>
</ng-template>
